{{#each products }}
<div class="row mb-3 justify-content-center align-items-center">
    {{#each this }}
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img class="card-img-top" src="{{ this.imagePath }}" alt="Card image cap" class="img-fluid">
            <div class="card-body">
                <h5 class="card-title">{{ this.title }}</h5>
                <p class="card-text description ">{{ this.description }}</p>
                <div class="clearfix">
                    <div class="price float-left">₹{{ this.price }}</div>
                    <button id="{{ this._id }}" onclick="addProduct(event);" class="btn btn-secondary btn-success float-right">Add
                        to
                        Shopping Cart</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/each}}


<script>

    function addProduct(e) {
        e.preventDefault();
        productId = e.target.id;
        axios.post("/add-to-cart", { id: productId, _csrf: "{{ csrfToken }}" })
            .then(res => {
                if (res.data.success) {
                    // Updating the Quantity in the Navbar
                    totalQty = document.getElementById('total-qty');
                    if (totalQty.innerText == '') {
                        totalQty.innerText = 1;
                    } else {
                        totalQty.innerText = parseInt(totalQty.innerText) + 1;
                    }
                }
            })
            .catch(err => console.log(err));
    }
</script>